#!/usr/bin/env bash
set -euo pipefail

PATH_add ./bin

H_PORT=43573
P_PORT=43578
D_NAME=teacher_o
D_PASSWORD=xRkifHbnNykgVkQ6r7Ns


export HASURA_GRAPHQL_ADMIN_SECRET=${D_PASSWORD}
export HASURA_GRAPHQL_ENDPOINT=http://localhost:${H_PORT}
export POSTGRES_PORT=${P_PORT}
export HASURA_PORT=${H_PORT}
export DB_NAME=${D_NAME}


export DB_URL=postgresql://postgres:${D_PASSWORD}@127.0.0.1:${P_PORT}/${D_NAME}

if [ -f "$PWD/.envrc.profile" ]; then
  source_env "$PWD/.envrc.profile"
fi

if [ -f "$PWD/.envrc.local" ]; then
  source_env "$PWD/.envrc.local"
fi

env > .env
